<h1>Stupid Coaching</h1>
<blockquote>
  <p>
    <% if @question.empty? %>

    <% else %>
      <%= @question %>
    <% end %>
    -You
  </p>
</blockquote>
<blockquote>
<p><%= @answer %></p>
-Your coach
</blockquote>